html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: powderblue;
}

.total {
	width: 1280px;
	height: 800px;
	background-color: powderblue;
}

.top-bar {
	width: 1280px;
	height: 120px;
	background-color: rebeccapurple;
	margin-top: 35px;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
	font-family: optima;
	font-size: 65px;
	color: azure;
	font-style: bold;
}

.bar {
	width: 1280px;
	height: 7px;
	float: left;
	margin-top: 10px;
	background-color: rebeccapurple;
}

.middle {
	width: 1210px;
	height: 543px;
	float: left;
	margin-left: 35px;
	margin-right: 35px;
}

.mid-column-left {
	width: 605px;
	height: 513px;
	float: left;
	background-color: powderblue;
	padding: 20px;
	border-right: 2px solid rebeccapurple;
}

.mid-column-right {
	width: 605px;
	height: 543px;
	float: left;
	background-color: powderblue;
	padding: 20px;
}


.arrow-bar {
	width: 1210px;
	height: 46px;
	margin-bottom: 35px;
	background-color: powderblue;
	float: left;
}

.left {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	margin-right: 920px;
	float: left;
}

.right {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	float: left;
}

h2 {
	padding-bottom: 20px;
	font-family: optima;
	text-decoration: underline;
}

h3 {
	font-family: optima;
	font-weight: bold;
	font-size: 20px;
}

p {
	font-family: optima;
	line-height: 22px;
	font-size: 18px;
}

span {
	font-weight: bold;
}

.secondtext {
	font-family: optima;
	line-height: 22px;
	font-size: 18px;
}

.arrow {
	height: 46px;
}

.arrow-container {
	width: 70px;
	height: 46px;
	float: left;
}

.text-container {
	width: 75px;
	height: 46px;
	float: left;
}

.smaller-text {
	font-family: optima;
	font-size: 12px;
}
