html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.total {
	width: 1280px;
	height: 800px;
	background-color: powderblue;
}

.top-bar {
	width: 1280px;
	height: 120px;
	background-color: rebeccapurple;
	margin-top: 35px;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
	font-family: optima;
	font-size: 65px;
	color: azure;
	font-style: bold;
}

.bar {
	width: 1280px;
	height: 7px;
	float: left;
	margin-top: 10px;
	background-color: rebeccapurple;
}

.middle {
	width: 1210px;
	height: 543px;
	float: left;
	margin-left: 35px;
	margin-right: 35px;
}

.mid-column {
	width: 605px;
	height: 543px;
	float: left;
	background-color: powderblue;
}

.mid-quarter {
	width: 605px;
	height: 271px;
	float: left;
	background-color: powderblue;
	padding: 10px;
}

.mid-quarter-words {
	width: 605px;
	height: 210px;
	float: left;
	background-color: powderblue;
	padding: 30px;
	font-family: optima;
	font-size: 20px;
	margin-top: 30px;
}

.arrow-bar {
	width: 1210px;
	height: 46px;
	margin-bottom: 35px;
	background-color: powderblue;
	float: left;
}

.left {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	margin-right: 920px;
	float: left;
}

.right {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	float: left;
}

.artivivepic {
	margin-top: 80px;
	width: 95%;
	border: 2px solid mediumpurple;
}

.processpic {
	margin-left: 110px;
	width: 63%;
	border: 2px solid mediumpurple;
}

.arrow {
	height: 46px;
}

.arrow-container {
	width: 70px;
	height: 46px;
	float: left;
}

.text-container {
	width: 75px;
	height: 46px;
	float: left;
}

.smaller-text {
	font-family: optima;
	font-size: 12px;
	margin-top: 9px;
}
