html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.total {
	width: 1280px;
	height: 800px;
	background-color: powderblue;
}

.left {
	width: 400px;
	height: 730px;
	margin-left: 35px;
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: powderblue;
	float: left;
	text-align: center;
	padding-top: 310px;
	font-family: optima;
}

h1 {
	font-size: 50px;
}

.vertical {
	width: 7px;
	height: 800px;
	background-color: rebeccapurple;
	float: left;
}

.mid {
	width: 10px;
	height: 800px;
	background-color: powderblue;
	float: left;
}

.right {
	width: 784px;
	height: 730px;
	margin-right: 35px;
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: powderblue;
	float: left;
}

.box-columns {
	width: 391px;
	height: 730px;
	margin-left: 1px;
	background-color: powderblue;
	float: left;
}

.quarter {
	width: 391px;
	height: 365px;
	float: left;
	background-color: powderblue;
	font-family: optima;
}

.circles {
	height: 360px;
	margin-left: 15px;
}





