html, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: powderblue;
}

.total {
	width: 1280px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: powderblue;
}

.top-bar {
	width: 1280px;
	height: 120px;
	background-color: rebeccapurple;
	margin-top: 35px;
	padding-top: 25px;
	padding-left: 20px;
	float: left;
	font-family: optima;
	font-size: 65px;
	color: azure;
	font-style: bold;
}

.bar {
	width: 1280px;
	height: 7px;
	float: left;
	margin-top: 10px;
	background-color: rebeccapurple;
}

.middle {
	width: 1210px;
	height: 543px;
	float: left;
	margin-left: 35px;
	margin-right: 35px;
}

.mid-column {
	width: 605px;
	height: 543px;
	float: left;
}

.mid-quarter {
	width: 605px;
	height: 271px;
	float: left;
	background-color: powderblue;
	padding: 10px;
}

.arrow-bar {
	width: 1210px;
	height: 46px;
	margin-bottom: 35px;
	background-color: powderblue;
	float: left;
}

.left {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	margin-right: 920px;
	float: left;
	display: inline-block;
}

.right {
	width: 145px;
	height: 46px;
	background-color: powderblue;
	float: left;
}

.umbrellapic {
	width: 77%;
	margin-top: 30px;
	margin-left: 70px;
	border: 2px solid mediumpurple;
}

.oldumbrellapic {
	width: 60%;
	margin-left: 110px;
	border: 2px solid mediumpurple;
}

h2 {
	font-family: optima;
	padding-bottom: 5px;
	text-decoration: underline;
}

p {
	font-family: optima;
	line-height: 17px;
	font-size: 19px;
	margin-left: 3px;
}

.othertext {
	font-family: optima;
	line-height: 14px;
	font-size: 15px;
}

span {
	font-weight: bold;
}

.arrow {
	height: 46px;
}

.arrow-container {
	width: 70px;
	height: 46px;
	float: left;
}

.text-container {
	width: 75px;
	height: 46px;
	float: left;
}

.smaller-text {
	font-family: optima;
	font-size: 12px;
	margin-top: 9px;
}

.text-container-1 {
	width: 75px;
	height: 46px;
	float: left;
	margin-top: 12px;
}
